*{
    margin:0;
    padding: 0;
}
body, html{
    height: 100%;
}
.clear{
    clear: both;
}

.pessoais h1, 
.contato h1, 
.familia h1,
.salvar h1{
    color: #0f004a;
    font-size: 22px;
    padding: 10px;
    margin-bottom: -5px;


}
.voltar img{
    width: 30px;
    padding: 10px;
}
p{
    text-align: left;
    font-size: 22px;
    color: #070124;
    padding: 5px;
}

.pessoais{
    width: 70%;
    height: 410px;
    border: 1px solid #e0dfda;
    box-shadow: 8px 2px 2px #9e9d9b;
    margin-left: 200px;
    padding: 10px;
    margin-top: -100px;
    border-radius: 10px;
} 
.contato{
    width: 70%;
    height: 300px;
    border: 1px solid #e0dfda;
    box-shadow: 8px 2px 2px #9e9d9b;
    margin-left: 200px;
    padding: 10px;
    margin-top: -30px;
    border-radius: 10px;
}
.familia{
    width: 70%;
    height: 430px;
    border: 1px solid #e0dfda;
    box-shadow: 8px 2px 2px #9e9d9b;
    margin-left: 200px;
    padding: 10px;
    margin-top: -120px;
    border-radius: 10px;

}

.one{
    display: inline-block;
    width: 45%;
    margin-left: 30px;
    margin-top: -25px;

}
.two{
    display: inline-block;
    width: 48%;
}

#contato, 
#familia, 
#salve{
    display: none;

}
form .familia textarea{
    width: 95%;
    height: 110px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #e0dfda;
    box-shadow: 2px 1px 1px #9e9d9b;
}

form .pessoais input, 
form .pessoais select,
form .contato input, 
form .contato select,
form .familia select,
form .familia input{
    width: 95%;
    height: 30px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #e0dfda;
    box-shadow: 2px 1px 1px #9e9d9b;
}


form .pessoais label, 
form .contato label,
form .familia label{
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: -10px;
}
.pessoais p{
    width: 25%;
    height: 35px;
    border: 1px solid #015913;
    box-shadow: 2px 1px 1px #9e9d9b;
    border-radius: 2px;
    background-color: #015913;
    font-size: 18px;
    color: white;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    text-align: center;
    margin-top: -25px;
}



.pessoais p:hover, 
.contato p:hover, 
.familia p:hover{
    background-color: #027019;
}       
                
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
.contato p, 
.familia p{
    display: inline-block;
    width: 12%;
    height: 40px;
    border: 1px solid #015913;
    box-shadow: 2px 1px 1px #9e9d9b;
    border-radius: 2px;
    background-color: #015913;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 50px;
    text-align: center;
    margin-left: 180px;
}
.linha{
    border-top: 1px solid #e0dfda;
    margin-top: 15px;
    width: 95%;
    margin-left: 10px;
}

.salvar{
    width: 20%;
    height: 120px;
    border: 1px solid #e0dfda;
    box-shadow: 2px 1px 1px #9e9d9b;
    border-radius: 2px;
    margin-top: 225px;
    margin-left: 500px;
}
.salvar p{
    display: inline-block;
    width: 30%;
    height: 25px;
    border: 1px solid #87031b;
    box-shadow: 2px 1px 1px #9e9d9b;
    border-radius: 5px;
    background-color: #87031b;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    margin-left: 30px;
}
.salvar input[type=submit]{
    display: inline-block;
    width: 30%;
    height: 38px;
    border: 1px solid #015913;
    box-shadow: 2px 1px 1px #9e9d9b;
    border-radius: 5px;
    background-color: #015913;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
}
#footers p{
    text-align: center;
    font-size: 15px;
}
.pesquisa{
    display: inline-block;
    margin-top: 6px;
    border-radius: 5px;
    margin-left: 515px;
}
.pesquisa input[type=text]{
    display: inline-block;
    border-radius: 2px;
    border: 0;
    text-align: center;


}
.pesquisa input[type=submit]{
    display: inline-block;
    color: white;
    background-color: #015913;
    border-radius: 2px;
    width: 80px;
    border: 0;

}
.pesquisa input[type=submit]:hover{
    background-color: #015958;

}
